.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    margin: 0 auto;
    width: 360px;
    color: #FFFFFF;
    filter: brightness(100%);
    pointer-events: none;
}

@media screen and (max-width: 580px) {
    
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }
}