.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 35%;
    width: 360px;
    color: #FFFFFF;;
}