.lead__title {
    width: 720px;
    max-width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin-bottom: 32px;
}

@media screen and (max-width: 720px) {
    .lead__title {
     max-width: 288px;
     width: 100%;
     font-size: 40px;
     line-height: 110%;
     text-align: center;
     margin-bottom: 16px;
    }
  }
