.lead__subtitle {
    width: 600px;
    max-width: 100%;
    min-height: 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin: auto;
}