@import url(./__title/two-columns__title.css);
@import url(./__image/two-columns__image.css);
@import url(./__website/two-columns__website.css);
@import url(./__url/two-columns__url.css);
@import url(./__link/two-columns__link.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__text/two-columns__text.css);

.two-columns {
    display: grid;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph";
    gap: 40px;
    grid-template-columns: 46.5%;
    margin: auto;
    width: 76.87%;
    padding-bottom: 0px;
    grid-row-gap: 0px;
}

@media screen and (max-width: 1024px) {
.two-columns {
    width: 90.6%;
    grid-column-gap: 32px;
}

}

@media screen and (max-width: 877px) {
.two-columns {
    width: 93.7%;
    grid-column-gap: 28px;
    }  
    }

@media screen and (max-width: 500px) {
.two-columns {
    display: flex;
    flex-direction: column;
    width: 100%;    
        }
    }
