.cover__opacity {
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cover__opacity:hover {
    background: #2A2C2F;
    opacity: 0.8;
    transition: ease-in-out 1s;
}


