.two-columns__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.two-columns__link:hover {
    opacity: .8;
    transition: ease-in-out 1s;
}