.two-columns__website {
    padding: 0;
    list-style-type: none;
    max-width: 460px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 48px;
    grid-area: website;
}

@media screen and (max-width: 500px) {
    
.two-columns__website {
    display: none;
     }
     }

